---
import { getCollection } from "astro:content";
import Main from "@/layouts/Main.astro";
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import getUniqueSeries from "@/utils/getUniqueSeries";
import { SITE } from "@/config";

const posts = await getCollection("blog");
const seriesList = getUniqueSeries(posts);
---

<Layout title={`Series | ${SITE.title}`}>
  <Header />
  <Main pageTitle="Series" pageDesc="All the series of posts.">
    <ul class="flex flex-col gap-4">
      {
        seriesList.map(({ series, seriesName }) => (
          <li>
            <a
              href={`/series/${series}`}
              class="text-lg underline decoration-dashed hover:text-accent"
            >
              {seriesName}
            </a>
          </li>
        ))
      }
    </ul>
  </Main>
  <Footer />
</Layout>
